@import "../variable";

.contenedor-upload {
  background: #fff;
  margin-top: 3em;
  border-radius: 0.5em;
  .boton-upload {
    background: $color_primario;
    font-family: $tipografia_secundaria;
  }
  .boton-upload:hover {
    background: $color_secundario;
  }
  .boton-envio {
    background: $color_secundario;
    font-family: $tipografia_secundaria;
  }
  .boton-envio:hover {
    background: $color_primario;
  }
  .titulo-upload {
    font-family: $tipografia_principal;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline black;
  }
}
