@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto:wght@300&display=swap");
//Variables COLORES PRIMARIOS
$color_primario: #b13a3b;
$color_secundario: #6f39a8;
$color_terceario: #699738;
$color_cuaternario: #399f9e;
$color_quinceario: #3ca5a8;
$color_datos: #fff3e0;
//Variables TIPOGRAFIA ELEGIDA
$tipografia_principal: "Exo 2", sans-serif;
$tipografia_secundaria: "Roboto", sans-serif;
//TAMAÑOS DE LETRA

//
